In [4]:
!pip install googlemaps, meteostat

Collecting googlemaps
  Downloading googlemaps-4.6.0.tar.gz (31 kB)
Requirement already satisfied: requests<3.0,>=2.20.0 in /Users/Anastasis/opt/anaconda3/lib/python3.7/site-packages (from googlemaps) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/Anastasis/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/Anastasis/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Anastasis/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/Anastasis/opt/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.6.0-py3-none-any.whl size=38554 sha256=b9df9a8748999d3f2da944ac336ada3a72638b132bb9828ff53a1d7b9f093e59
  Stored in directory: /Users/Anastasis/Library/Caches/pip/wheels/80/db/c0/6d958585fa97b20e250bf437acf7e6e715b4809c2dd4e55367
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.6.0

In [5]:
import pandas as pd

# Loading csv files from 07/2016 until 12/2019

import requests
import urllib.parse
import json
import logging
import googlemaps
import time

In [6]:
key = 'INSERT_API_KEY'
gmaps_client = googlemaps.Client(key=key)


def geocode_lat(address, city, state):
    time.sleep(.05)
    params = f"{address.lower()} {city}, {state}".replace(" ", "+")

    try:            
        response = gmaps_client.geocode(params)
        
        if response != '' and response != None and len(response)>0:
            
            response = response[0]
            
            if "geometry" in response and "location" in response["geometry"] and "lat" in response["geometry"]["location"]:
                lat = response["geometry"]["location"]["lat"]
            else:
                lat = None

            return lat
        
        else:
            return None
        
    except Exception as e:
        logging.error(e)
        return None
    
    
def geocode_lon(address, city, state):
    time.sleep(.05)
    params = f"{address.lower()} {city}, {state}".replace(" ", "+")

    try:
        response = gmaps_client.geocode(params)

        if response != '' and response != None and len(response)>0:
            
            response = response[0]
            
            if "geometry" in response and "location" in response["geometry"] and "lng" in response["geometry"]["location"]:
                lon = response["geometry"]["location"]["lng"]
            else:
                lon = None

            return lon
        
        else:
            return None
        
    except Exception as e:
        logging.error(e)
        return None

In [7]:
Q1_2017 = pd.read_csv('2017Q1-capitalbikeshare-tripdata.csv')
Q2_2017 = pd.read_csv('2017Q2-capitalbikeshare-tripdata.csv')
Jan_2018 = pd.read_csv('201801_capitalbikeshare_tripdata.csv')
Feb_2018 = pd.read_csv('201802-capitalbikeshare-tripdata.csv')
Mar_2018= pd.read_csv('201803-capitalbikeshare-tripdata.csv')
Apr_2018= pd.read_csv('201804-capitalbikeshare-tripdata.csv')
May_2018 = pd.read_csv('201805-capitalbikeshare-tripdata.csv')
Jun_2018 = pd.read_csv('201806-capitalbikeshare-tripdata.csv')
Jan_2019 = pd.read_csv('201901-capitalbikeshare-tripdata.csv')
Feb_2019 = pd.read_csv('201902-capitalbikeshare-tripdata.csv')
Mar_2019 = pd.read_csv('201903-capitalbikeshare-tripdata.csv')
Apr_2019 = pd.read_csv('201904-capitalbikeshare-tripdata.csv')
May_2019 = pd.read_csv('201905-capitalbikeshare-tripdata.csv')
Jun_2019 = pd.read_csv('201906-capitalbikeshare-tripdata.csv')

In [8]:
S1_2017_S1_2019_bikeshare_data = pd.concat([Q1_2017, Q2_2017, Jan_2018, Feb_2018, Mar_2018, Apr_2018, May_2018, Jun_2018,\
    Jan_2019, Feb_2019, Mar_2019, Apr_2019, May_2019, Jun_2019], ignore_index=True)

In [9]:
S1_2017_S1_2019_bikeshare_data

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual
...,...,...,...,...,...,...,...,...,...
5034810,733,2019-06-30 23:57:17,2019-07-01 00:09:30,31609,Maine Ave & 7th St SW,31610,Eastern Market / 7th & North Carolina Ave SE,W22399,Casual
5034811,5127,2019-06-30 23:58:11,2019-07-01 01:23:39,31292,22nd St & Constitution Ave NW,31261,21st St & Constitution Ave NW,W20536,Casual
5034812,5145,2019-06-30 23:58:24,2019-07-01 01:24:10,31292,22nd St & Constitution Ave NW,31261,21st St & Constitution Ave NW,W20531,Casual
5034813,331,2019-06-30 23:59:08,2019-07-01 00:04:39,31610,Eastern Market / 7th & North Carolina Ave SE,31612,D St & Maryland Ave NE,W00795,Member
5034814,467,2019-06-30 23:59:17,2019-07-01 00:07:05,31319,Wisconsin Ave & Brandywine St NW,32014,Friendship Hts Metro / Wisconsin Ave & Wiscons...,W23253,Casual

In [45]:
S1_2017_S1_2019_bikeshare_data.isna().sum()

Duration                0
Start date              0
End date                0
Start station number    0
Start station           0
End station number      0
End station             0
Bike number             0
Member type             0
dtype: int64

In [19]:
S1_2017_S1_2019_bikeshare_data.dropna(inplace=True)

In [20]:
Start_stations = pd.DataFrame(S1_2017_S1_2019_bikeshare_data['Start station'].unique(), columns=['Start station'])

In [21]:
# End_stations = pd.DataFrame(S1_2017_S1_2019_bikeshare_data['End station'].unique(), columns=['End station'])

In [22]:
Start_stations['Start station lat'] = Start_stations['Start station'].apply(lambda x: geocode_lat(x, "Washington", "DC"))

In [23]:
Start_stations[Start_stations['Start station lat'].isna()]

                 Start station  Start station lat
518  King Greenleaf Rec Center                NaN

In [24]:
Start_stations.loc[Start_stations['Start station'] == "King Greenleaf Rec Center", ['Start station lat']] = '38.875'
Start_stations.loc[Start_stations['Start station'] == "15th & L St NW", ['Start station lat']] = "38.9037458"
Start_stations.loc[Start_stations['Start station'] == "Rhode Island Ave & Montana Ave NE", ['Start station lat']] = "38.924515"
Start_stations.loc[Start_stations['Start station'] == "18th St & Wyoming Ave NW", ['Start station lat']] = "38.91891637556599"
Start_stations.loc[Start_stations['Start station'] == "7th St & Massachusetts Ave NE", ['Start station lat']] = "38.89241639268605"
Start_stations.loc[Start_stations['Start station'] == "Monroe St & Monroe Pl", ['Start station lat']] = "39.09290247046921"
Start_stations.loc[Start_stations['Start station'] == "Lee Hwy & N Woodstock St", ['Start station lat']] = "38.897008479635225"
Start_stations.loc[Start_stations['Start station'] == "Friendship Hts Metro / Wisconsin Ave & Wisconsin Cir", ['Start station lat']] = "38.959"
Start_stations.loc[Start_stations['Start station'] == "Greensboro & Pinnacle Dr", ['Start station lat']] = '38.93926'

In [25]:
Start_stations[Start_stations['Start station lat'].isna()]

Empty DataFrame
Columns: [Start station, Start station lat]
Index: []

In [26]:
Start_stations['Start station lon'] = Start_stations['Start station'].apply(lambda x: geocode_lon(x, "Washington", "DC"))

In [27]:
Start_stations[Start_stations['Start station lon'].isna()]

                 Start station Start station lat  Start station lon
518  King Greenleaf Rec Center            38.875                NaN

In [28]:
Start_stations.loc[Start_stations['Start station'] == "King Greenleaf Rec Center", ['Start station lon']] = '-77.015'
Start_stations.loc[Start_stations['Start station'] == "Monroe St & Monroe Pl", ['Start station lon']] = '-77.1527'
Start_stations.loc[Start_stations['Start station'] == "Lee Hwy & N Woodstock St", ['Start station lon']] = '-77.11864'
Start_stations.loc[Start_stations['Start station'] == "Friendship Hts Metro / Wisconsin Ave & Wisconsin Cir", ['Start station lon']] = "-77.085721"
Start_stations.loc[Start_stations['Start station'] == "Greensboro & Pinnacle Dr", ['Start station lon']] = '-77.17634'

In [29]:
S1_2017_S1_2019_bikeshare_data_Start_coord = S1_2017_S1_2019_bikeshare_data.merge(Start_stations, on='Start station', how='left', suffixes=('_left','_right'))

In [30]:
S1_2017_S1_2019_bikeshare_data_Start_coord_End_coord = S1_2017_S1_2019_bikeshare_data_Start_coord.merge(Start_stations, left_on='End station', right_on = 'Start station', how = 'left', suffixes=('_left', '_right'))

In [31]:
S1_2017_S1_2019_bikeshare_data_final = S1_2017_S1_2019_bikeshare_data_Start_coord_End_coord[['Duration','Start date','End date','Start station number','Start station_left',\
    'End station number', 'End station', 'Bike number', 'Member type', 'Start station lat_left', 'Start station lon_left',\
    'Start station lat_right', 'Start station lon_right']].rename(columns={'Start station_left': 'Start station', 'Start station lat_left':\
    'Start station lat', 'Start station lon_left': 'Start station lon', 'Start station lat_right': 'End station lat',\
    'Start station lon_right': 'End station lon'})

In [32]:
S1_2017_S1_2019_bikeshare_data_final

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Start station lat,Start station lon,End station lat,End station lon
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member,38.874896,-76.999947,38.881411,-77.00595
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual,38.889269,-77.050176,38.894662,-77.030696
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual,38.889269,-77.050176,38.919342,-77.034727
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual,38.889269,-77.050176,38.919342,-77.034727
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual,38.889269,-77.050176,38.894662,-77.030696
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5034796,733,2019-06-30 23:57:17,2019-07-01 00:09:30,31609,Maine Ave & 7th St SW,31610,Eastern Market / 7th & North Carolina Ave SE,W22399,Casual,38.878939,-77.022523,38.886448,-76.996479
5034797,5127,2019-06-30 23:58:11,2019-07-01 01:23:39,31292,22nd St & Constitution Ave NW,31261,21st St & Constitution Ave NW,W20536,Casual,38.903205,-77.048811,38.903041,-77.046645
5034798,5145,2019-06-30 23:58:24,2019-07-01 01:24:10,31292,22nd St & Constitution Ave NW,31261,21st St & Constitution Ave NW,W20531,Casual,38.903205,-77.048811,38.903041,-77.046645
5034799,331,2019-06-30 23:59:08,2019-07-01 00:04:39,31610,Eastern Market / 7th & North Carolina Ave SE,31612,D St & Maryland Ave NE,W00795,Member,38.886448,-76.996479,38.898138,-76.988193
5034800,467,2019-06-30 23:59:17,2019-07-01 00:07:05,31319,Wisconsin Ave & Brandywine St NW,32014,Friendship Hts Metro / Wisconsin Ave & Wiscons...,W23253,Casual,38.949772,-77.075826,38.959,-77.085721

In [36]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily

# Set time period
start = datetime(2016, 7, 1)
end = datetime(2019, 12, 31)

# Create Point for Washington, DC
location = Point(38.9072, -77.0369)

# Get daily data for 2018
data = Daily(location, start, end)
daily_weather_data = data.fetch()

In [37]:
daily_weather_data

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2016-07-01  25.8  21.7  31.1   6.1   0.0  176.0  11.5   NaN     NaN   NaN
2016-07-02  24.3  21.1  26.7   0.0   0.0  338.0  15.5   NaN  1017.7   NaN
2016-07-03  21.7  17.8  23.3   1.8   0.0    NaN   7.6   NaN  1020.5   NaN
2016-07-04  21.3  20.0  23.3   7.9   0.0  189.0  14.8   NaN     NaN   NaN
2016-07-05  26.6  23.3  32.8   6.9   0.0  271.0  13.0   NaN     NaN   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2019-12-27   7.6   3.3  13.3   0.0   0.0  162.0   6.5   NaN  1024.7   NaN
2019-12-28   9.8   3.3  19.4   0.0   0.0   63.0   6.1   NaN  1023.4   NaN
2019-12-29   9.4   6.7  11.7  15.2   0.0   45.0   8.3   NaN  1019.0   NaN
2019-12-30  12.8   7.2  18.9   6.6   0.0   37.0  12.2   NaN  1004.6   NaN
2019-12-31   8.6   6.1  12.2   0.0   0.0  285.0  13.7   NaN  1006.7   NaN

[1279 rows x 10 columns]

In [38]:
S1_2017_S1_2019_bikeshare_data_final['Date']=pd.to_datetime(S1_2017_S1_2019_bikeshare_data_final['Start date'].apply(lambda x:x[0:-9]), infer_datetime_format=True)

In [39]:
S1_2017_S1_2019_bikeshare_data_final

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Start station lat,Start station lon,End station lat,End station lon,Date
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member,38.874896,-76.999947,38.881411,-77.00595,2017-01-01
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual,38.889269,-77.050176,38.894662,-77.030696,2017-01-01
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual,38.889269,-77.050176,38.919342,-77.034727,2017-01-01
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual,38.889269,-77.050176,38.919342,-77.034727,2017-01-01
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual,38.889269,-77.050176,38.894662,-77.030696,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5034796,733,2019-06-30 23:57:17,2019-07-01 00:09:30,31609,Maine Ave & 7th St SW,31610,Eastern Market / 7th & North Carolina Ave SE,W22399,Casual,38.878939,-77.022523,38.886448,-76.996479,2019-06-30
5034797,5127,2019-06-30 23:58:11,2019-07-01 01:23:39,31292,22nd St & Constitution Ave NW,31261,21st St & Constitution Ave NW,W20536,Casual,38.903205,-77.048811,38.903041,-77.046645,2019-06-30
5034798,5145,2019-06-30 23:58:24,2019-07-01 01:24:10,31292,22nd St & Constitution Ave NW,31261,21st St & Constitution Ave NW,W20531,Casual,38.903205,-77.048811,38.903041,-77.046645,2019-06-30
5034799,331,2019-06-30 23:59:08,2019-07-01 00:04:39,31610,Eastern Market / 7th & North Carolina Ave SE,31612,D St & Maryland Ave NE,W00795,Member,38.886448,-76.996479,38.898138,-76.988193,2019-06-30
5034800,467,2019-06-30 23:59:17,2019-07-01 00:07:05,31319,Wisconsin Ave & Brandywine St NW,32014,Friendship Hts Metro / Wisconsin Ave & Wiscons...,W23253,Casual,38.949772,-77.075826,38.959,-77.085721,2019-06-30

In [40]:
S1_2017_S1_2019_bikeshare_data_final_weather = S1_2017_S1_2019_bikeshare_data_final.merge(daily_weather_data, left_on='Date',\
    right_index=True, how='left', suffixes=('_left','_right'))[['Duration', 'Start date', 'End date', 'Start station number',\
    'Start station', 'End station number', 'End station', 'Bike number', 'Member type', 'Start station lat',\
    'Start station lon', 'End station lat', 'End station lon', 'Date', 'tavg', 'prcp', 'snow',\
    'wspd']]

In [41]:
S1_2017_S1_2019_bikeshare_data_final_weather.isna().sum()

Duration                0
Start date              0
End date                0
Start station number    0
Start station           0
End station number      0
End station             0
Bike number             0
Member type             0
Start station lat       0
Start station lon       0
End station lat         0
End station lon         0
Date                    0
tavg                    0
prcp                    0
snow                    0
wspd                    0
dtype: int64

In [42]:
S1_2017_S1_2019_bikeshare_data_final_weather[S1_2017_S1_2019_bikeshare_data_final_weather.snow>0]

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Start station lat,Start station lon,End station lat,End station lon,Date,tavg,prcp,snow,wspd
161620,741,2017-01-30 00:00:24,2017-01-30 00:12:46,31256,10th & E St NW,31108,4th & M St SW,W23120,Member,38.896132,-77.029622,38.876529,-77.014104,2017-01-30,2.4,1.8,30.0,16.2
161621,780,2017-01-30 00:00:30,2017-01-30 00:13:30,31256,10th & E St NW,31108,4th & M St SW,W21771,Member,38.896132,-77.029622,38.876529,-77.014104,2017-01-30,2.4,1.8,30.0,16.2
161622,418,2017-01-30 00:02:12,2017-01-30 00:09:11,31626,15th St & Massachusetts Ave SE,31618,4th & East Capitol St NE,W00570,Member,38.886539,-76.982218,38.889823,-76.957746,2017-01-30,2.4,1.8,30.0,16.2
161623,747,2017-01-30 00:08:23,2017-01-30 00:20:51,31244,4th & E St SW,31615,6th & H St NE,W20783,Member,38.883239,-77.015458,38.9002,-76.987142,2017-01-30,2.4,1.8,30.0,16.2
161624,229,2017-01-30 00:14:16,2017-01-30 00:18:05,31026,Washington Blvd & 10th St N,31065,N Pershing Dr & Wayne St,W22554,Member,38.883113,-77.107818,38.876592,-77.099307,2017-01-30,2.4,1.8,30.0,16.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3702268,203,2019-02-21 23:56:26,2019-02-21 23:59:50,31298,15th & M St NW,31251,12th & L St NW,W21191,Member,38.905633,-77.032629,38.903733,-77.032418,2019-02-21,4.9,0.0,50.0,6.5
3702269,594,2019-02-21 23:56:48,2019-02-22 00:06:42,31295,Potomac & M St NW,31917,N Lynn St & Fairfax Dr,W21144,Member,38.905633,-77.032629,38.896436,-77.070848,2019-02-21,4.9,0.0,50.0,6.5
3702270,705,2019-02-21 23:57:28,2019-02-22 00:09:13,31282,16th & R St NW,31123,14th & Girard St NW,W22097,Member,38.912607,-77.041663,38.925741,-77.028798,2019-02-21,4.9,0.0,50.0,6.5
3702271,241,2019-02-21 23:58:30,2019-02-22 00:02:32,31228,8th & H St NW,31266,11th & M St NW,W21948,Member,38.900217,-77.031234,38.905633,-77.032629,2019-02-21,4.9,0.0,50.0,6.5
3702272,195,2019-02-21 23:59:50,2019-02-22 00:03:06,31203,14th & Rhode Island Ave NW,31266,11th & M St NW,W22047,Member,38.906843,-77.032062,38.905633,-77.032629,2019-02-21,4.9,0.0,50.0,6.5

In [43]:
S1_2017_S1_2019_bikeshare_data_final_weather.to_csv('S1_2017_S1_2019_Bikeshare_weather.csv')